$color-primary: #222733; // Ebony Clay
$color-secondary: #fdfffc; // BABY POWDER
$color-tertiary: #ff9f1c; // BRIGHT YELLOW
$color-accent: #2ec4b6;

$font-primary: "Josefin Sans";
$font-secondary: "Fira Sans";