@import "../styles/variables";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel__item {
  animation: fadeIn 0.15s ease-in;
  animation-fill-mode: backwards;

  .carousel__item__title {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 400;
  }

  .carousel__item__content {
    h2 {
      margin-bottom: 0.75rem;
    }

    a {
      display: inline-block;
      margin-top: 2.5rem;
    }

    &__list__wrapper {
      display: flex;
      flex-direction: row;

      .list {
        text-align: left;

        h3 {
          text-transform: capitalize;
          margin-bottom: 0.5rem;
        }

        ul {
          margin-left: 2rem;
        }

        &:last-child {
          margin-left: 1rem;
        }
      }
    }
  }
}
