@import "../styles/variables";

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navigation-wrapper {
  position: absolute;
  top: 1.1rem;
  width: 100%;
  z-index: 3;

  .site-nav {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 0.75rem 1.5rem;
    list-style: none;
    border-radius: 0 0 0.75rem 0.75rem;
    background-color: rgba($color-primary, 0.75);

    animation: moveInTop 0.25s ease-in;
    animation-fill-mode: backwards;

    li {
      display: inline-block;
      font-size: 1.4rem;

      a {
        display: block;
        padding: 0.7rem;
        border: 1px solid transparent;
        border-radius: 0.325rem;
        text-decoration: none;
        color: $color-secondary;
        text-transform: uppercase;
        transition: border 0.25s ease;

        &:hover {
          border-color: rgba($color-secondary, 0.5);
          transition: border-color 0.25s ease;
        }

        &.active {
          color: $color-tertiary;
        }
      }
    }
  }
}
